*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    background: #cee3f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: 4px solid rgba(15, 14, 14, 0.3);
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}
.hname span{
    color: #38a0a1;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #2d9092, #051c2d);
}
.container{
    max-width: 700px;
    width: 70%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    padding-top: 100px;

}
.container .title{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
}
.container .title span{
    color: #218f91;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    width: 30px;
    bottom: 0;
    background: linear-gradient(135deg, #051c2d,#0D3839);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    padding-right: 10px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box button{
    margin-top: 2px;
    display: inline-block;
    padding: 10px 7rem;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(135deg, #0f4065,#126e6f);
    cursor: pointer;
    border-radius: 5px;
}
.user-details .input-box button:hover{
    color: #051c2d;
    background:#fff;
}